<div class="card" style="margin-top: 3%">
  <div class="card-header">
    Name: <b>{{task.name}}</b>
    <button style="float: right" (click)="goToTask(task)" class="btn btn-danger">Go To</button>
  </div>
  <div class="card-body">

    <h5 *ngIf="task.due">Due to:</h5>
    <p>{{task.due}}</p>
    <p>{{task.processInstanceId}}</p>
  </div>
</div>
