<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">ISSN</th>
        <th scope="col">Details</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let journal of journals;let idx = index">
        <td scope="row">{{idx+1}}</td>
        <td scope="row">{{journal.name}}</td>
        <td scope="row">{{journal.issn}}</td>
        <td scope="row">
          <button class="btn btn-info" type="button" (click)="details(journal.id)">
            <i class="fa fa-table"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-lg-2"></div>
</div>
