<div class="card" style="margin-top: 3%">
  <div class="card-header" *ngIf="review.reviewerFirstName">
    Reviewer: <b>{{review.reviewerFirstName}} {{review.reviewerLastName}}</b>
  </div>
  <div class="card-body">
    <div></div>
    <p>Comments</p>
    <p>{{review.comments}}</p>

    <div *ngIf="review.reviewerFirstName">
      <p>Advice :</p>
      <p>{{review.advice}}</p>
      <p>Private comments:</p>
      <p>{{review.commentsForEditors}}</p>
    </div>

  </div>
</div>
