<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">

    <h5><span style="margin-right: 5%">Filter reviewers?</span>
      <input id="filter" [(ngModel)]="isChecked" class="form-check-input" type="checkbox"
             (change)="get(isChecked?'filtered':'all')"/></h5>

    <h3>Select reviewers</h3>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Specialty</th>
        <th scope="col">Select</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let reviewer of reviewers;let idx = index">
        <td scope="row">{{idx+1}}</td>
        <td scope="row">{{reviewer.firstName}}</td>
        <td scope="row">{{reviewer.lastName}}</td>
        <td scope="row">{{reviewer.email}}</td>
        <td scope="row"><span *ngFor="let field of reviewer.scientificFields"> {{field}}, </span></td>
        <td scope="row">
          <input name="reviewer-checkbox"
                 style="margin-left: 10px" class="form-check-input" type="checkbox" value="{{reviewer.email}}"/>
        </td>
      </tr>
      </tbody>
    </table>
    <button id="submit" class="btn btn-primary btn-block" style="margin-top:10px" type="button"
            (click)="submit()">
      Submit
    </button>
  </div>
  <div class="col-lg-2"></div>
</div>
