<div class="card" style="margin-top: 3%">
  <div class="card-header">
    Name: <b>{{paper.name}}</b>
    <button style="float: right" (click)="download(paper.id)" class="btn btn-danger">Download</button>
  </div>
  <div class="card-body">

    <h5>Authors:</h5>
    <p>{{paper.author.firstName}} {{paper.author.lastName}}</p>
    <p>{{paper.author.email}}</p>
    <p *ngIf="paper.author.address">{{paper.author.address.city}} {{paper.author.address.country}}</p>
    <p *ngFor="let coauthor of paper.coauthor" class="card-text">
      {{coauthor.firstName}} {{coauthor.lastName}}
      <br/>
      {{paper.author.email}}
      <br/>
      <span *ngIf="paper.author.address">{{paper.author.address.city}} {{paper.author.address.country}}</span>
    </p>
  </div>
</div>
