<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h5>My tasks:</h5>
      <app-review-card *ngFor="let r of reviews" [review]="r"></app-review-card>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
