<app-review-list [reviews]="reviewsForPaper"><h1>fasfasfa</h1></app-review-list>
<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <app-paper-card [paper]="paper"></app-paper-card>

      <div [innerHTML]="html | safeHtml"></div>

      <button id="register" class="btn btn-primary btn-block" style="margin-top:10px" type="button"
              (click)="submit()">
        Submit
      </button>

    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
