<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Paper Publisher</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li *ngFor="let link of links" class="nav-item active">
        <a class="nav-link" routerLink="{{link.link}}">{{link.text}} <span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!userLoggedIn()">
        <a class="nav-link" routerLink="/login">Login<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="!userLoggedIn()">
        <a class="nav-link" routerLink="/register">Register<span class="sr-only">(current)</span></a>
      </li>

      <li *ngIf="userLoggedIn()" class="nav-item active">
        <a class="nav-link" routerLink="/my_tasks">MyTasks</a>
      </li>

      <li *ngIf="userIsAuthor()" class="nav-item active">
        <a class="nav-link" routerLink="/start_submission/undefined">Submit paper</a>
      </li>

      <li *ngIf="userLoggedIn()" class="nav-item active" style="float: right">
        <a class="nav-link" routerLink="/login" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>

  <div *ngIf="userLoggedIn()" class="navbar-collapse collapse">
    <ul class="navbar-nav ml-auto">
      <li>
        <div class="nav-item dropdown">
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: -95%">
            <div style="color: gray; margin-left: 20px; margin-top: 5px; margin-bottom: 10px"><i>{{getUsername()}}</i>
            </div>
            <a class="dropdown-item" id="logout" routerLink="/login" (click)="logout()">Log out</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
