<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h5>Published papers:</h5>
      <app-paper-card *ngFor="let p of papers" [paper]="p"
                     (onReadPaperClicked)="readPaper($event)"></app-paper-card>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
