<app-review-list [reviews]="paperReviews"></app-review-list>

<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <div [innerHTML]="html | safeHtml"></div>

      <div class="row" style="margin-top: 1%">
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
          Upload PDF:
        </div>
        <div class="col-lg-5">
          <input type="file" id="file" (change)="handleFileInput($event)">
        </div>
      </div>
      <button id="register" class="btn btn-primary btn-block" style="margin-top:10px" type="button"
              (click)="upload()">
        Submit
      </button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
