<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <div [innerHTML]="html | safeHtml"></div>

      <button id="register" class="btn btn-primary btn-block" style="margin-top:10px" type="button"
              (click)="register()">
        Register
      </button>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
