<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h5>My tasks:</h5>
      <app-task *ngFor="let t of tasks" [task]="t"
                      (onTaskClicked)="goToTask($event)"></app-task>
      <div class="col-sm-3"></div>
    </div>
  </div>
</div>
