<div class="containter">
  <div class="row" style="margin-top: 2%">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">

      <div *ngIf="!retryPayment">
        <h5>Pay one month fee</h5>
        <button id="payment" class="btn btn-primary btn-block" style="margin-top:10px" type="button"
                (click)="payment()">
          Payment
        </button>
      </div>
      <div *ngIf="!retryPayment">
        <h5>Subscribe to a one year plan</h5>
        <button class="btn btn-primary btn-block" style="margin-top:10px" type="button"
                (click)="subscribe()">
          Subscribe
        </button>
      </div>
      <div *ngIf="retryPayment">
        <h5>Retry payment</h5>
        <button class="btn btn-primary btn-block" style="margin-top:10px" type="button"
                (click)="retry()">
          Retry payment
        </button>
      </div>
      <div>
        <button class="btn btn-primary btn-block" style="margin-top:10px" type="button"
                (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
    <!--<div>-->
      <!--<button class="btn btn-primary btn-block" style="margin-top:10px" type="button"-->
              <!--(click)="createPlan()">-->
        <!--Create plan-->
      <!--</button>-->
    <!--</div>-->
  </div>
  <div class="col-sm-3"></div>
</div>

