<div class="card" style="margin-top: 3%" *ngIf="paper">
  <div class="card-header">
    Name: <b>{{paper.name}}</b>
    <button style="float: right" (click)="download(paper.id)" class="btn btn-danger">Read</button>
  </div>
  <div class="card-body">

    <!--<h5>Authors:</h5>-->
    <!--<p>{{paper.author.firstName}} {{paper.author.lastName}}</p>-->
    <!--<p>{{paper.author.email}}</p>-->
    <p>Abstract</p>
    <p>{{paper.paperAbstract}}</p>
    <p>Keywords:</p>
    <p><span *ngFor="let key of paper.keywords"> {{key}} </span></p>
    <p *ngIf="paper.author.address">{{paper.author.address.city}} {{paper.author.address.country}}</p>
    <!--<p *ngFor="let coauthor of paper.coauthor" class="card-text">-->
      <!--{{coauthor.firstName}} {{coauthor.lastName}}-->
      <!--<br/>-->
      <!--{{paper.author.email}}-->
      <!--<br/>-->
      <!--<span *ngIf="paper.author.address">{{paper.author.address.city}} {{paper.author.address.country}}</span>-->
    <!--</p>-->
  </div>
</div>
